<div class="offset1 span8">

    <p class="license">
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/" class="license-logo">
            <img alt="CC BY-SA"
                 src="https://i.creativecommons.org/l/by-sa/3.0/88x31.png" />
        </a>

        Copyleft &copy; 2013 <a href="https://plus.google.com/109698223232106496867?
   rel=author">Barry Peddycord III</a>: <em>Some</em> Rights Reserved
    </p>

</div>
<div class="span2">
    <a href="http://doodle.com/isharacomix">Schedule an appointment</a>
</div>

