<div class="col-md-10 col-md-offset-1">
    <div class="jumbotron">
        <h1>Barry Peddycord III</h1>
        <h3>Just another IsharaComix GradBlog.</h3>
    </div>
    
    <div class="text-center">
        <ul class="nav nav-pills nav-justified">
          <li><a href="{{ site.baseurl }}">Home</a></li>
          <li><a href="{{ site.baseurl }}cv">CV</a></li>
          <li><a href="{{ site.baseurl }}archives">Blog</a></li>
          <li><a href="{{ site.baseurl }}teaching">Teaching</a></li>
          <li><a href="http://github.com/isharacomix">Github</a></li>
        </ul>
    </div>

</div>

