<div>
    <a href="http://isharacomix.org">
    <img src="https://secure.gravatar.com/avatar/39aa2aa615ea1d30d79a37f4557f1e0e?size=200"
         alt="" />
    </a>
    
    <div class="well well-small">
        <p>I'm a Ph.D. Student at <a href="http://ncsu.edu">North Carolina State
        University</a> studying Computer Science and Education.</p>
    </div>
</div>


<div class="btn-group btn-group-vertical btn-block">
    <a class="btn btn-block" href="{{site.baseurl}}/cv">CV</a>
    <a class="btn btn-block" href="http://twitter.com/isharacomix">Twitter</a>
    <a class="btn btn-block" href="http://github.com/isharacomix">Github</a>
    <a class="btn btn-block" href="http://teaching.isharacomix.org">Teaching</a>
    <a class="btn btn-block" href="http://research.isharacomix.org">Research</a>
</div>

<div>
<a class="twitter-timeline" width="100%" height="200" data-dnt="true" href="https://twitter.com/isharacomix"  data-widget-id="303017820395016194">TWEETS BY @isharacomix</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>

