---
layout: base
---

<div class="col-md-8 col-md-push-2 col-sm-12">
    <article>
    <h1>{{ page.title }} <small>posted <time datetime="{{page.date|date:"%F"}}">{{page.date|date:"%b %d, %Y"}}</time></small></h1>
    
    <div id="post">
        {{ content }}
    </div>
    
    <div class="media">
      <a class="pull-left hidden-xs" href="#">
        <img class="media-object" width="100" src="{{ site.baseurl }}img/barry_avatar.png" alt="">
      </a>
      <div class="media-body">
        <h4 class="media-heading">Barry Peddycord III <small>isharacomix</small></h4>
        Barry is a graduate student at NC State University pursuing a Ph.D. in Computer Science and Educational Data Mining. He is interested in how people learn programming languages and how the design of hardware and software affect how people use them. <em><a href="{{ site.baseurl }}blog">Read More</a></em>
      </div>
    </div>
    
    </article>

    <div class="well">
        <iframe src="http://ask.fm/widget/4b34673ad1e1519b55df06da44bd8682a7be122b?stylesheet=large&fgcolor=%23000000&bgcolor=%23EFEFEF&lang=1" frameborder="0" scrolling="yes" width="100%"  style="border:none;"></iframe>
    </div>

</div>    

